<ion-header>
  <ion-toolbar>
    <ion-title>forgot-password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="center">
  <form #form="ngForm" (ngSubmit)="forgotPassword(form)" #f="ngForm">
    <ion-item lines="full">
      <ion-label position="floating" translate>forgotPassword.email</ion-label>
      <ion-input type="email" name="email" class="form-control" [(ngModel)]="forgot.email" #email="ngModel"
                 [ngClass]="{ 'is-invalid': f.submitted && email.invalid }" required email></ion-input>
      <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
        <div *ngIf="email.errors?.required" translate>forgotPassword.emailIsRequired</div>
        <div *ngIf="email.errors?.email" translate>forgotPassword.emailInvalid</div>
      </div>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button type="submit" color="danger" expand="block" translate>forgotPassword.send</ion-button>
      </ion-col>
    </ion-row>
    <small translate>forgotPassword.subtitle</small>
  </form>
</ion-content>
