<ion-content class="ion-no-padding ion-no-margin">
  <ion-list *ngFor="let reaction of reactions" class="ion-no-padding ion-no-margin">
    <ion-item class="ion-no-padding ion-no-margin">
      <!--      <ion-avatar slot="start" style="margin-left: 10px;">-->
      <img width="40px" height="40px" style="margin-left: 10px; margin-right:10px; border-radius: 30%"
           [alt]="reaction.reaction" [src]="getReactionIcon(reaction.reaction)"/>
      <!--      </ion-avatar>-->
      <ion-label>{{reaction.owner}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
