<ion-header>
  <ion-toolbar>
    <ion-title>welcome</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="auth-form center vertical-center">
  <ion-grid>
    <ion-row>
      <ion-col align-self-center>
        <ion-button
          (click)="navigateToUrl('/signup')" expand="block" color="primary">Register
        </ion-button>
        <hr class="solid" data-content="or">
        <span class="center">Already a user?</span>
        <ion-button
          (click)="navigateToUrl('/login')" expand="block" color="danger">Sign In
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-img style="margin: auto; width: 300px; padding-top: 15vh;"
             fill="clear"
             class="logo ion-no-padding ion-no-margin"
             src="assets/icon/cropped_nobg_turtle.png" alt="logo"></ion-img>
  </ion-grid>
</ion-content>
