.logo {
  width: 100px;
  height: 35px;
}

#transparent {
  --background: transparentize(#93e9be, 1);
  --color: transparentize(#93e9be, 1);

}

#menu {
  --color: #fff7;
  --background: #DA0037;
  //--background-color: #EDEDED;
}

#logo-button {
  --background: transparentize(#93e9be, 1);
  --background-hover: transparentize(#93e9be, 1);
  --background-activated: transparentize(#88f4be, 1);
  --background-focused: transparentize(#88f4be, 1);
  --color: blue;
  --border-radius: 0;
  --border-color: transparentize(#93e9be, 1);
  //--border-style: solid;
  --border-width: 0px;
  --box-shadow: 0 0 0 0 rgb(0, 0, 0, 1);
  --ripple-color: deeppink;
  --padding-left: 0px;
  --padding-top: 0px;
  --padding-bottom: 0px;
  margin: 0;
}

.card {
  width: 100%;
  margin: 0px;

}


#menu-button {
  --background: transparentize(#93e9be, 1);
  --background-hover: transparentize(#93e9be, 1);
  --background-activated: transparentize(#88f4be, 1);
  --background-focused: transparentize(#88f4be, 1);
  --text-align: left;
  --color: black;
  width: 100%;
  text-align: center;
  //--border-radius: 0;
  //--border-color: #000;
  //--border-style: solid;
  --border-width: 0px;

  //--box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 0.25);

  //--ripple-color: deeppink;

  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;

  --width: 100%;
}

ion-menu {
  type: reveal;
}

ion-menu::part(backdrop) {
  background-color: #23238E;
  //background-color: rgba(0, 150, 250, 0.5);
}

ion-menu::part(container) {
  border-radius: 0 20px 20px 0;
  background-image: ("../../assets/wallp.jpeg");
  box-shadow: 4px 0px 16px rgba(20, 20, 100, 0.5);
}

ion-fab-button::part(native) {
  //background-color: #b7f399;
  border-radius: 50px;
  width: 40px;
  height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, .3), 0px 1px 3px 1px rgba(0, 0, 0, .15);
  color: black;
}

ion-fab-list {
  //margin-top: 10px;
  margin-bottom: 30px;
  padding-bottom: 30px;
}

ion-fab-button::part(native):hover::after {
  background-color: #a3e681;
}

ion-fab-button::part(native):active::after {
  background-color: #87d361;
}


///
//
.container {
  width: 150px;
  height: 150px;
  display: block;
  margin: 0 auto;
}

.outer {
  width: 100% !important;
  height: 100% !important;
  max-width: 150px !important; /* any size */
  max-height: 150px !important; /* any size */
  margin: auto;
  background-color: #6eafd4;
  //background-image: url("/src/assets/place.png");
  border-radius: 100%;
  position: relative;
}

#avatarado {
  border-radius: 50px;
  height: 150px;
  width: 160px;
  //float: top;
  //position: relative;
  //margin-bottom: 15px;
}

ion-row {
  //margin-top: 15px;
  //margin-bottom: 15px;
}

.inner {
  background-color: #DA0037;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
}

.inner:hover {
  background-color: #5555ff;
}

.inputfile {
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: 1;
  width: 50px;
  height: 50px;
}

.inputfile + label {
  font-size: 1.25rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  overflow: hidden;
  width: 50px;
  height: 50px;
  pointer-events: none;
  cursor: pointer;
  line-height: 50px;
  text-align: center;
}

.inputfile + label svg {
  fill: #fff;
}

///////////////////////////////
//
//*, *:after, *:before {
//  box-sizing: border-box;
//}
//
//#switch {
//  visibility:hidden;
//  clip:rect(0 0 0 0);
//  position: absolute;
//  left: 9999px;
//}
//
//.switch {
//  display: block;
//  width: 130px;
//  height: 60px;
//  margin: 70px auto;
//  position: relative;
//  background: #ced8da; /* Old browsers */
//  background: -moz-linear-gradient(left,  #ced8da 0%, #d8e0e3 29%, #ccd4d7 34%, #d4dcdf 62%, #fff9f4 68%, #e1e9ec 74%, #b7bfc2 100%); /* FF3.6+ */
//  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ced8da), color-stop(29%,#d8e0e3), color-stop(34%,#ccd4d7), color-stop(62%,#d4dcdf), color-stop(68%,#fff9f4), color-stop(74%,#e1e9ec), color-stop(100%,#b7bfc2)); /* Chrome,Safari4+ */
//  background: -webkit-linear-gradient(left,  #ced8da 0%,#d8e0e3 29%,#ccd4d7 34%,#d4dcdf 62%,#fff9f4 68%,#e1e9ec 74%,#b7bfc2 100%); /* Chrome10+,Safari5.1+ */
//  background: -o-linear-gradient(left,  #ced8da 0%,#d8e0e3 29%,#ccd4d7 34%,#d4dcdf 62%,#fff9f4 68%,#e1e9ec 74%,#b7bfc2 100%); /* Opera 11.10+ */
//  background: -ms-linear-gradient(left,  #ced8da 0%,#d8e0e3 29%,#ccd4d7 34%,#d4dcdf 62%,#fff9f4 68%,#e1e9ec 74%,#b7bfc2 100%); /* IE10+ */
//  background: linear-gradient(to right,  #ced8da 0%,#d8e0e3 29%,#ccd4d7 34%,#d4dcdf 62%,#fff9f4 68%,#e1e9ec 74%,#b7bfc2 100%); /* W3C */
//  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ced8da', endColorstr='#b7bfc2',GradientType=1 ); /* IE6-9 */
//  transition: all 0.2s ease-out;
//  cursor: pointer;
//  border-radius: 0.35em;
//  box-shadow:
//    0 0 1px 2px rgba(0,0,0,0.7),
//    inset 0 2px 0 rgba(255,255,255,0.6),
//    inset 0 -1px 0 1px rgba(0,0,0,0.3),
//    0 8px 10px rgba(0,0,0,0.15);
//}
//
//.switch:before {
//  display:block;
//  position: absolute;
//  left: -35px; right: -35px;
//  top: -25px; bottom: -25px;
//  z-index: -2;
//  content: "";
//  border-radius: 0.4em;
//  background: #d5dde0;
//  background: linear-gradient(#d7dfe2, #bcc7cd);
//  box-shadow:
//    inset 0 2px 0 rgba(255,255,255,0.6),
//    inset 0 -1px 1px 1px rgba(0,0,0,0.3),
//    0 0 8px 2px rgba(0,0,0,0.2),
//    0 2px 4px 2px rgba(0,0,0,0.1);
//  pointer-events: none;
//  transition: all 0.2s ease-out;
//}
//
//.switch:after {
//  content: "";
//  position: absolute;
//  right: -25px;
//  top: 50%;
//  width: 16px;
//  height: 16px;
//  border-radius: 50%;
//  background: #788b91;
//  margin-top: -8px;
//  z-index: -1;
//  box-shadow:
//    inset 0 -1px 8px rgba(0,0,0,0.7),
//    inset 0 -2px 2px rgba(0,0,0,0.2),
//    0 1px 0 white,
//    0 -1px 0 rgba(0,0,0,0.5),
//    -47px 32px 15px 13px rgba(0,0,0,0.25);
//}
//
//#switch:checked ~ .switch {
//  background: #b7bfc2; /* Old browsers */
//  background: -moz-linear-gradient(left, #b7bfc2 0%, #e1e9ec 26%, #fff9f4 32%, #d4dcdf 38%, #ccd4d7 66%, #d8e0e3 71%, #ced8da 100%); /* FF3.6+ */
//  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#b7bfc2), color-stop(26%,#e1e9ec), color-stop(32%,#fff9f4), color-stop(38%,#d4dcdf), color-stop(66%,#ccd4d7), color-stop(71%,#d8e0e3), color-stop(100%,#ced8da)); /* Chrome,Safari4+ */
//  background: -webkit-linear-gradient(left, #b7bfc2 0%,#e1e9ec 26%,#fff9f4 32%,#d4dcdf 38%,#ccd4d7 66%,#d8e0e3 71%,#ced8da 100%); /* Chrome10+,Safari5.1+ */
//  background: -o-linear-gradient(left, #b7bfc2 0%,#e1e9ec 26%,#fff9f4 32%,#d4dcdf 38%,#ccd4d7 66%,#d8e0e3 71%,#ced8da 100%); /* Opera 11.10+ */
//  background: -ms-linear-gradient(left, #b7bfc2 0%,#e1e9ec 26%,#fff9f4 32%,#d4dcdf 38%,#ccd4d7 66%,#d8e0e3 71%,#ced8da 100%); /* IE10+ */
//  background: linear-gradient(to right, #b7bfc2 0%,#e1e9ec 26%,#fff9f4 32%,#d4dcdf 38%,#ccd4d7 66%,#d8e0e3 71%,#ced8da 100%); /* W3C */
//  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b7bfc2', endColorstr='#ced8da',GradientType=1 ); /* IE6-9 */
//}
//
//#switch:checked ~ .switch:after {
//  background: #b1ffff;
//  box-shadow:
//    inset 0 -1px 8px rgba(0,0,0,0.7),
//    inset 0 -2px 2px rgba(0,0,0,0.2),
//    0 1px 0 white,
//    0 -1px 0 rgba(0,0,0,0.5),
//    -110px 32px 15px 13px rgba(0,0,0,0.25);
//}

///////////////////////////////////////////////////////////
#postbutton {
  position: relative;
  display: inline-block;
  //margin:20px;
  margin: 5px;
  margin-bottom: 10px;

  //padding-bottom: 5px;
}

#postbutton a {
  color: white;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  background-color: #DA0037;
  display: block;
  position: relative;
  padding: 10px 28px;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-shadow: 0px 0.5px 0px gray;
  filter: dropshadow(color=gray, offx=0px, offy=1px);

  -webkit-box-shadow: inset 0 0.5px 0 #FFE5C4, 0 5px 0 #cc;
  -moz-box-shadow: inset 0 0.5px 0 #FFE5C4, 0 5px 0 #6d001c;
  box-shadow: inset 0 0.5px 0 #FFE5C4, 0 5px 0 #6d001c;

  -webkit-border-radius: 2.5px;
  -moz-border-radius: 2.5px;
  border-radius: 2.5px;
}

#postbutton a:active {
  top: 5px;
  background-color: #DA0037;

  -webkit-box-shadow: inset 0 0.5px 0 #FFE5C4, inset 0 -1.5px 0 #6d001c;
  -moz-box-shadow: inset 0 0.5px 0 #FFE5C4, inset 0 -1.5pxpx 0 #6d001c;
  box-shadow: inset 0 0.5px 0 #FFE5C4, inset 0 -1.5px 0 #6d001c;
}

#postbutton:after {
  content: "";
  height: 100%;
  width: 100%;
  padding: 2px;
  position: absolute;
  bottom: -7.5px;
  left: -2px;
  z-index: -1;
  background-color: #2B1800;
  -webkit-border-radius: 2.5px;
  -moz-border-radius: 2.5px;
  border-radius: 2.5px;
}

////////////////////////////////////////
#editbutton {
  position: relative;
  display: inline-block;
  //margin:20px;
  margin: 5px;
  margin-bottom: 10px;

  //padding-bottom: 5px;
}

#editbutton a {
  color: white;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  background-color: #2471A3;
  display: block;
  position: relative;
  padding: 10px 28px;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-shadow: 0px 0.5px 0px gray;
  filter: dropshadow(color=gray, offx=0px, offy=1px);

  -webkit-box-shadow: inset 0 0.5px 0 #FFE5C4, 0 5px 0 #123952;
  -moz-box-shadow: inset 0 0.5px 0 #FFE5C4, 0 5px 0 #123952;
  box-shadow: inset 0 0.5px 0 #FFE5C4, 0 5px 0 #123952;

  -webkit-border-radius: 2.5px;
  -moz-border-radius: 2.5px;
  border-radius: 2.5px;
}

#editbutton a:active {
  top: 5px;
  background-color: #2471A3;

  -webkit-box-shadow: inset 0 0.5px 0 #FFE5C4, inset 0 -1.5px 0 #123952;
  -moz-box-shadow: inset 0 0.5px 0 #FFE5C4, inset 0 -1.5pxpx 0 #123952;
  box-shadow: inset 0 0.5px 0 #FFE5C4, inset 0 -1.5px 0 #123952;
}

#editbutton:after {
  content: "";
  height: 100%;
  width: 100%;
  padding: 2px;
  position: absolute;
  bottom: -7.5px;
  left: -2px;
  z-index: -1;
  background-color: #2B1800;
  -webkit-border-radius: 2.5px;
  -moz-border-radius: 2.5px;
  border-radius: 2.5px;
}

