
ion-footer.my-footer {
  margin-bottom: 0;
  padding-bottom: 2px;
  padding-top: 2px;
  height: 57px;
  background: #1e1e1e;
}

ion-button.backbutton {
  background: #1e1e1e;
  height: 5px;
  padding: 0px;
}

.myLoadingCenter {
  //height: 200px;
  position: relative;
  //border: 3px solid green;
  margin: 0;
  position: absolute;
  top: 45%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: whitesmoke;
}
