<ion-header class="ion-no-padding" (swiperight)="cancel()" (swipedown)="cancel()">
  <ion-toolbar class="ion-no-padding">
    <ion-buttons slot="start">
      <ion-button (click)="cancel()" id="logo-button">
        <!--              [routerLink]="['/welcome']" -->
        <ion-img style="margin: 0px; padding: 0; margin-left: -3px; width: 80px; height: 38px;"
                 fill="clear"
                 class="logo ion-no-padding ion-no-margin"
                 src="assets/icon/cropped_nobg_turtle.png" alt="logo"></ion-img>
      </ion-button>
      <!--      <ion-button (click)="cancel()">Back</ion-button>-->
    </ion-buttons>
    <!--    <ion-title>Edit Post</ion-title>-->
    <!--    <ion-buttons slot="end">-->
    <!--      <ion-button (click)="confirm()">Confirm</ion-button>-->
    <!--    </ion-buttons>-->
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding" slot="fixed">
<!--  <ion-item-sliding [disabled]="false" (ionDrag)="print()">-->
  <ion-row *ngIf="isMyPost">
    <ion-col id="delete-post-button" (click)="modalService.openModal(id, image, text, type); cancel();">
      <svg xmlns="http://www.w3.org/2000/svg" width="3em" height="2em" preserveAspectRatio="xMidYMid meet"
           viewBox="0 0 24 24">
        <path fill="white"
              d="M5 19h1.4l8.625-8.625l-1.4-1.4L5 17.6ZM19.3 8.925l-4.25-4.2l1.4-1.4q.575-.575 1.413-.575q.837 0 1.412.575l1.4 1.4q.575.575.6 1.388q.025.812-.55 1.387ZM17.85 10.4L7.25 21H3v-4.25l10.6-10.6Zm-3.525-.725l-.7-.7l1.4 1.4Z"/>
      </svg>
    </ion-col>
    <ion-col id="edit-post-button" (click)="deletePost(id)">
      <svg xmlns="http://www.w3.org/2000/svg" width="3em" height="2em" preserveAspectRatio="xMidYMid meet"
           viewBox="0 0 512 512">
        <path fill="none" d="M296 64h-80a7.91 7.91 0 0 0-8 8v24h96V72a7.91 7.91 0 0 0-8-8Z"/>
        <path fill="white"
              d="M432 96h-96V72a40 40 0 0 0-40-40h-80a40 40 0 0 0-40 40v24H80a16 16 0 0 0 0 32h17l19 304.92c1.42 26.85 22 47.08 48 47.08h184c26.13 0 46.3-19.78 48-47l19-305h17a16 16 0 0 0 0-32ZM192.57 416H192a16 16 0 0 1-16-15.43l-8-224a16 16 0 1 1 32-1.14l8 224A16 16 0 0 1 192.57 416ZM272 400a16 16 0 0 1-32 0V176a16 16 0 0 1 32 0Zm32-304h-96V72a7.91 7.91 0 0 1 8-8h80a7.91 7.91 0 0 1 8 8Zm32 304.57A16 16 0 0 1 320 416h-.58A16 16 0 0 1 304 399.43l8-224a16 16 0 1 1 32 1.14Z"/>
      </svg>

    </ion-col>
  </ion-row>

  <ion-item lines="none" class="ion-no-padding" style="width: 100%">
      <ion-card class="ion-no-padding" style="width: 100%">
        <div *ngIf="notEmpty(image)">
          <img id="post-image" alt="ey where my pic at yo" src="{{ (imageApi+image) }}"
               loading="lazy"/>
        </div>
        <div *ngIf="notEmpty(text)">
          <ion-card-content>
            <pre class="ion-no-padding">{{text}}</pre>
          </ion-card-content>
        </div>
        <form #form="ngForm" (ngSubmit)="addComment(form)" #f="ngForm" novalidate>
          <ion-item class="inline ion-no-padding">
            <ion-chip style="padding-left: 13px;">
              <!--          <ion-avatar>-->
              <!--            <img alt="avatar" src="{{imageApi+profilePic}}"/>-->
              <!--          </ion-avatar>-->
              <ion-label class="ion-no-padding commentator">{{name}}</ion-label>
            </ion-chip>
            <ion-input placeholder="  Comment something"
                       class="form-control new-comment" [(ngModel)]="comment.commentText"
                       #commentText="ngModel" [ngClass]="{ 'is-invalid': f.submitted && commentText.invalid }"
                       type="text" name="commentText" minlength="1" required="true"></ion-input>
            <ion-button style="width: 10vw;" type="submit">
              <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" preserveAspectRatio="xMidYMid meet"
                   viewBox="0 0 24 24">
                <g transform="translate(24 0) scale(-1 1)">
                  <path fill="white"
                        d="M7 14h10q.425 0 .712-.288Q18 13.425 18 13t-.288-.713Q17.425 12 17 12H7q-.425 0-.713.287Q6 12.575 6 13t.287.712Q6.575 14 7 14Zm0-3h10q.425 0 .712-.288Q18 10.425 18 10t-.288-.713Q17.425 9 17 9H7q-.425 0-.713.287Q6 9.575 6 10t.287.712Q6.575 11 7 11Zm0-3h10q.425 0 .712-.287Q18 7.425 18 7t-.288-.713Q17.425 6 17 6H7q-.425 0-.713.287Q6 6.575 6 7t.287.713Q6.575 8 7 8Zm13.3 12.3L18 18H4q-.825 0-1.412-.587Q2 16.825 2 16V4q0-.825.588-1.413Q3.175 2 4 2h16q.825 0 1.413.587Q22 3.175 22 4v15.575q0 .675-.612.937q-.613.263-1.088-.212Z"/>
                </g>
              </svg>
            </ion-button>
          </ion-item>
        </form>
        <ion-list text-wrap *ngFor="let comment of comments">
          <ion-item text-wrap class="inline ion-no-padding" style="margin-left: 8px;">
            <ion-chip class="ion-no-padding ion-no-margin"
                      style="margin-top:0; top:0; bottom:0; padding: 0 5px 0 8px; width: 85px; height: 38px;">
              <!--          <ion-avatar>-->
              <!--            <img alt="avatar" src="{{imageApi+profilePic}}"/>-->
              <!--          </ion-avatar>-->
              <ion-label text-wrap class="ion-no-padding ion-no-margin commentator">{{comment.owner}}</ion-label>
            </ion-chip>

            <pre class="comment">{{comment.text}}</pre>
            <!--          <div class="ion-float-right">-->
            <!--            <ion-chip>-->
            <!--              <ion-label>{{comment.commentedAt}}</ion-label>-->
            <!--            </ion-chip>-->
            <!--          </div>-->
          </ion-item>
        </ion-list>
      </ion-card>
    </ion-item>

<!--    <ion-item-options *ngIf="isMyPost" id="outer">-->
<!--      <button id="edit-post-button rowado" expand="block"-->
<!--              (click)="modalService.openModal(id, image, text, type)"-->
<!--              style="background-color: darkslategray">-->
<!--        &nbsp;&nbsp;&nbsp;-->
<!--        <svg xmlns="http://www.w3.org/2000/svg" width="3em" height="2em" preserveAspectRatio="xMidYMid meet"-->
<!--             viewBox="0 0 24 24">-->
<!--          <path fill="white"-->
<!--                d="M5 19h1.4l8.625-8.625l-1.4-1.4L5 17.6ZM19.3 8.925l-4.25-4.2l1.4-1.4q.575-.575 1.413-.575q.837 0 1.412.575l1.4 1.4q.575.575.6 1.388q.025.812-.55 1.387ZM17.85 10.4L7.25 21H3v-4.25l10.6-10.6Zm-3.525-.725l-.7-.7l1.4 1.4Z"/>-->
<!--        </svg>-->
<!--        &nbsp;&nbsp;&nbsp;-->
<!--      </button>-->
<!--      <button id="delete-post-button rowado" style="background-color: #DA0037" (click)="deletePost(id)">-->
<!--        &nbsp;&nbsp;&nbsp;-->
<!--        <svg xmlns="http://www.w3.org/2000/svg" width="3em" height="2em" preserveAspectRatio="xMidYMid meet"-->
<!--             viewBox="0 0 512 512">-->
<!--          <path fill="none" d="M296 64h-80a7.91 7.91 0 0 0-8 8v24h96V72a7.91 7.91 0 0 0-8-8Z"/>-->
<!--          <path fill="white"-->
<!--                d="M432 96h-96V72a40 40 0 0 0-40-40h-80a40 40 0 0 0-40 40v24H80a16 16 0 0 0 0 32h17l19 304.92c1.42 26.85 22 47.08 48 47.08h184c26.13 0 46.3-19.78 48-47l19-305h17a16 16 0 0 0 0-32ZM192.57 416H192a16 16 0 0 1-16-15.43l-8-224a16 16 0 1 1 32-1.14l8 224A16 16 0 0 1 192.57 416ZM272 400a16 16 0 0 1-32 0V176a16 16 0 0 1 32 0Zm32-304h-96V72a7.91 7.91 0 0 1 8-8h80a7.91 7.91 0 0 1 8 8Zm32 304.57A16 16 0 0 1 320 416h-.58A16 16 0 0 1 304 399.43l8-224a16 16 0 1 1 32 1.14Z"/>-->
<!--        </svg>-->
<!--        &nbsp;&nbsp;&nbsp;-->
<!--      </button>-->
<!--    </ion-item-options>-->
<!--  </ion-item-sliding>-->
</ion-content>
