<ion-header [translucent]="true">
  <!--  <ion-toolbar>-->
  <!--    <ion-title>-->
  <!--      Tab 2-->
  <!--    </ion-title>-->
  <!--  </ion-toolbar>-->
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>
  <!--  <form #form="ngForm" (ngSubmit)="createPost(form)">-->
  <!--    <ion-card id="postado-form">-->
  <!--      <ion-row style="background-color: #121212;" class="ion-justify-content-center" [hidden]="hidden">-->
  <!--        <div class="container">-->
  <!--          <img style=" margin-bottom: 2px; border-radius: 10px" id="display-image"-->
  <!--               [src]="imageSrc || 'http://placehold.it/180'" alt="your image"/>-->
  <!--          <ion-button  class="fas fa-download" (click)="unloadImage()"><svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" preserveAspectRatio="xMidYMid meet"-->
  <!--               viewBox="0 0 24 24">-->
  <!--            <path fill="#DA0037"-->
  <!--                  d="M12 2C6.486 2 2 6.486 2 12s4.486 10 10 10s10-4.486 10-10S17.514 2 12 2zm4.207 12.793l-1.414 1.414L12 13.414l-2.793 2.793l-1.414-1.414L10.586 12L7.793 9.207l1.414-1.414L12 10.586l2.793-2.793l1.414 1.414L13.414 12l2.793 2.793z"/>-->
  <!--          </svg></ion-button>-->
  <!--        </div>-->
  <!--      </ion-row>-->
  <!--      <ion-row class="inline">-->
  <!--        <ion-col id="textarea-col">-->
  <!--          <ion-textarea  [autoGrow]="true"-->
  <!--                         class="ion-float-left custom-textarea" placeholder="{{postPlaceholder}}"-->
  <!--                        name="text" [(ngModel)]="postForm.text" ngControl="text">-->
  <!--            &lt;!&ndash;                    (input)="(presentToast('bottom','Feature aint ready yet bro, cant post some wisdom, gotta wait'))"&ndash;&gt;-->
  <!--          </ion-textarea>-->
  <!--        </ion-col>-->
  <!--        <ion-col id="button-col">-->
  <!--          <label for="file-upload" class="custom-file-upload">-->
  <!--            <i class="fa fa-cloud-upload"></i>-->
  <!--            <svg xmlns="http://www.w3.org/2000/svg" width="3em" height="2em" preserveAspectRatio="xMidYMid meet"-->
  <!--                 viewBox="0 0 24 24">-->
  <!--              <path fill="white"-->
  <!--                    d="M6 17h12l-3.75-5l-3 4L9 13Zm-2 4q-.825 0-1.412-.587Q2 19.825 2 19V7q0-.825.588-1.412Q3.175 5 4 5h3.15L9 3h6l1.85 2H20q.825 0 1.413.588Q22 6.175 22 7v12q0 .825-.587 1.413Q20.825 21 20 21Zm16-2V7h-4.05l-1.825-2h-4.25L8.05 7H4v12Zm-8-7Z"/>-->
  <!--            </svg>-->
  <!--          </label>-->
  <!--          <input id="file-upload" type="file" accept="image/*" (input)="onFileChanged($event)"/>-->
  <!--          <ion-button type="submit">-->
  <!--            <svg xmlns="http://www.w3.org/2000/svg" width="3em" height="2em" preserveAspectRatio="xMidYMid meet"-->
  <!--                 viewBox="0 0 24 24">-->
  <!--              <path fill="white" d="M2.01 21L23 12L2.01 3L2 10l15 2l-15 2z"/>-->
  <!--            </svg>-->
  <!--          </ion-button>-->
  <!--        </ion-col>-->
  <!--      </ion-row>-->
  <!--    </ion-card>-->
  <!--  </form>-->

  <div *ngIf="fetching; else showContentBlock">
    <!--    <ion-item>-->
    <!--      <ion-label>Loading ...</ion-label>-->
    <ion-spinner class="loadingCenter" style="transform: scale(5);" name="bubbles"></ion-spinner>
    <!--    </ion-item>-->
  </div>
  <ng-template #showContentBlock>

    <ion-list *ngFor="let post of posts" no-tap-scroll=“true”>
      <ion-item-sliding>
        <ion-item lines="none" class="ion-no-padding" (dblclick)="likeIt(post.id)">
          <ion-card class="ion-no-padding">
            <!--          <ion-row>-->
            <ion-card-header>
              <ion-card-subtitle type="dark">
                <div class="ion-float-start">
                  <ion-chip id="post-owner-avatar" [routerLink]="['/home/profile', post.ownerId]">
                    <ion-avatar>
                      <img alt="avatar" src="{{(imageApi+post.ownerProfilePic)}}"/>
                    </ion-avatar>
                    <ion-label><b>{{post.owner}}</b></ion-label>
                  </ion-chip>
                </div>
                <div class="ion-float-end" style="text-align: right">
                  <ion-chip>
                    <ion-label>{{post.postedAt}}</ion-label>
                  </ion-chip>
                </div>
              </ion-card-subtitle>
            </ion-card-header>
            <div *ngIf="notEmpty(post.image)"
                 (click)="modalService.openPostModal(post.id, post.image, post.text, this.postType)">
              <img id="post-image" alt="ey where my pic at yo" src="{{ (imageApi+post.image) || (loading) }}"
                   loading="lazy"/>
            </div>
            <div *ngIf="notEmpty(post.youtubeVideoId)"
                 (click)="modalService.openPostModal(post.id, post.image, post.text, this.postType)">
              <iframe style="width: 100vw; height: 30vh;" [src]="(youtubeEmbedApi+post.youtubeVideoId) | safe"
                      frameborder="0"
                      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                      allowfullscreen>
              </iframe>
            </div>
            <div *ngIf="notEmpty(post.text)">
              <ion-card-content style="margin-top: -4.5px;">
                <!--        <ion-card-title> {{post.title}}</ion-card-title>-->
                <pre class="ion-no-padding">{{post.text}}</pre>
              </ion-card-content>
              <!--              <div class="inline">-->
              <!--              <div style="font-size: small" class="ion-text-left">&nbsp;&nbsp;&nbsp;&nbsp;<b>{{post.reactionsSize}}-->
              <!--                buddies have reacted and the post already has {{post.commentsSize}} comments</b>-->
              <!--              </div>-->
              <!--              </div>-->
            </div>
            <!--          </ion-row>-->
            <ion-row style="margin-top: -10px; padding-bottom: 3px;">
              <ion-col (click)="showReactions($event, post.id);"
                       (press)="showReactors($event, post.id);">
                <ion-button class="transparent-button ion-no-padding ion-no-margin "
                            icon-left>
                  <svg xmlns="http://www.w3.org/2000/svg" width="2.5em" height="2.5em"
                       preserveAspectRatio="xMidYMid meet"
                       viewBox="0 0 24 24">
                    <path fill="#DA0037"
                          d="m12 21.35l-1.45-1.32C5.4 15.36 2 12.27 2 8.5C2 5.41 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.08C13.09 3.81 14.76 3 16.5 3C19.58 3 22 5.41 22 8.5c0 3.77-3.4 6.86-8.55 11.53L12 21.35Z"/>
                  </svg>

                </ion-button>
                <div style="font-size: smaller; padding-bottom: 5px;" class="ion-text-center">
                  &nbsp;&nbsp;&nbsp;&nbsp;<b>{{getReactionsDesc(post.reactionsSize)}}</b>
                </div>
              </ion-col>
              <ion-col (click)="modalService.openPostModal(post.id, post.image, post.text, this.postType)">
                <ion-button class="transparent-button ion-no-padding ion-no-margin "
                            icon-left
                >
                  <svg xmlns="http://www.w3.org/2000/svg" width="2.5em" height="2.5em"
                       preserveAspectRatio="xMidYMid meet"
                       viewBox="0 0 24 24">
                    <g transform="translate(24 0) scale(-1 1)">
                      <path fill="white"
                            d="M7 14h10q.425 0 .712-.288Q18 13.425 18 13t-.288-.713Q17.425 12 17 12H7q-.425 0-.713.287Q6 12.575 6 13t.287.712Q6.575 14 7 14Zm0-3h10q.425 0 .712-.288Q18 10.425 18 10t-.288-.713Q17.425 9 17 9H7q-.425 0-.713.287Q6 9.575 6 10t.287.712Q6.575 11 7 11Zm0-3h10q.425 0 .712-.287Q18 7.425 18 7t-.288-.713Q17.425 6 17 6H7q-.425 0-.713.287Q6 6.575 6 7t.287.713Q6.575 8 7 8Zm13.3 12.3L18 18H4q-.825 0-1.412-.587Q2 16.825 2 16V4q0-.825.588-1.413Q3.175 2 4 2h16q.825 0 1.413.587Q22 3.175 22 4v15.575q0 .675-.612.937q-.613.263-1.088-.212Z"/>
                    </g>
                  </svg>
                </ion-button>
                <div style="font-size: smaller; padding-bottom: 5px;" class="ion-text-center">
                  &nbsp;&nbsp;&nbsp;&nbsp;<b>{{getCommentsDesc(post.commentsSize)}}</b>
                </div>
              </ion-col>
            </ion-row>

          </ion-card>
        </ion-item>

        <div *ngIf="equals(post.owner)">
          <ion-item-options id="outer">
            <button id="edit-post-button rowado" expand="block"
                    (click)="modalService.openModal(post.id, post.image, post.text, this.postType)"
                    style="background-color: darkslategray">
              &nbsp;&nbsp;&nbsp;
              <svg xmlns="http://www.w3.org/2000/svg" width="3em" height="2em" preserveAspectRatio="xMidYMid meet"
                   viewBox="0 0 24 24">
                <path fill="white"
                      d="M5 19h1.4l8.625-8.625l-1.4-1.4L5 17.6ZM19.3 8.925l-4.25-4.2l1.4-1.4q.575-.575 1.413-.575q.837 0 1.412.575l1.4 1.4q.575.575.6 1.388q.025.812-.55 1.387ZM17.85 10.4L7.25 21H3v-4.25l10.6-10.6Zm-3.525-.725l-.7-.7l1.4 1.4Z"/>
              </svg>
              &nbsp;&nbsp;&nbsp;
            </button>
            <button id="delete-post-button rowado" style="background-color: #DA0037" (click)="deletePost(post.id)">
              &nbsp;&nbsp;&nbsp;
              <svg xmlns="http://www.w3.org/2000/svg" width="3em" height="2em" preserveAspectRatio="xMidYMid meet"
                   viewBox="0 0 512 512">
                <path fill="none" d="M296 64h-80a7.91 7.91 0 0 0-8 8v24h96V72a7.91 7.91 0 0 0-8-8Z"/>
                <path fill="white"
                      d="M432 96h-96V72a40 40 0 0 0-40-40h-80a40 40 0 0 0-40 40v24H80a16 16 0 0 0 0 32h17l19 304.92c1.42 26.85 22 47.08 48 47.08h184c26.13 0 46.3-19.78 48-47l19-305h17a16 16 0 0 0 0-32ZM192.57 416H192a16 16 0 0 1-16-15.43l-8-224a16 16 0 1 1 32-1.14l8 224A16 16 0 0 1 192.57 416ZM272 400a16 16 0 0 1-32 0V176a16 16 0 0 1 32 0Zm32-304h-96V72a7.91 7.91 0 0 1 8-8h80a7.91 7.91 0 0 1 8 8Zm32 304.57A16 16 0 0 1 320 416h-.58A16 16 0 0 1 304 399.43l8-224a16 16 0 1 1 32 1.14Z"/>
              </svg>
              &nbsp;&nbsp;&nbsp;
            </button>
          </ion-item-options>
        </div>
      </ion-item-sliding>
    </ion-list>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content loadingText="Please wait..." loadingSpinner="bubbles"></ion-infinite-scroll-content>
    </ion-infinite-scroll>
    <!--    <ion-card>-->
    <!--      <ion-card-header>-->
    <!--        <ion-card-subtitle type="dark">-->
    <!--          <div class="ion-float-start">Γιάννακης Γκαζοφονιάς</div>-->
    <!--          <div class="ion-float-end">20:30</div>-->
    <!--        </ion-card-subtitle>-->
    <!--      </ion-card-header>-->
    <!--      <img alt="ey where my pic at yo" src="./assets/car.webp"/>-->
    <!--      <ion-card-content>-->
    <!--        These boiz be killin it for real yo-->
    <!--      </ion-card-content>-->
    <!--    </ion-card>-->
    <!--    <ion-card>-->
    <!--      <ion-card-header>-->
    <!--        <ion-card-subtitle type="dark">-->
    <!--          <div class="ion-float-start">τσάκοςΜη</div>-->
    <!--          <div class="ion-float-end">16:06</div>-->
    <!--        </ion-card-subtitle>-->
    <!--      </ion-card-header>-->
    <!--      <img alt="ey where my pic at yo" src="./assets/car2.webp"/>-->
    <!--      <ion-card-content>-->
    <!--        old school be back bro, is i right-->
    <!--      </ion-card-content>-->
    <!--    </ion-card>-->
    <!--    <ion-card>-->
    <!--      <ion-card-header>-->
    <!--        <ion-card-subtitle type="dark">-->
    <!--          <div class="ion-float-start">Αλέκος Αμαξάκιας</div>-->
    <!--          <div class="ion-float-end">16:06</div>-->
    <!--        </ion-card-subtitle>-->
    <!--      </ion-card-header>-->
    <!--      <iframe width="370" height="300" src="https://www.youtube.com/embed/6NImgmZKLfo"-->
    <!--              frameborder="0"-->
    <!--              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"-->
    <!--              allowfullscreen></iframe>-->
    <!--      <ion-card-content>-->
    <!--        Ey yo this is a good shot my man, take a look yo-->
    <!--      </ion-card-content>-->
    <!--    </ion-card>-->
  </ng-template>


</ion-content>
