.my-swiper {
  height: 50vh;
}

.swiper-slide-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #fff;
  height: 50vh;
  width: 50vw;
  margin: auto;
  border-radius: 20px;
  color: whitesmoke;
}
