<ion-header [translucent]="true">
<!--  <ion-toolbar>-->
<!--    <ion-title>-->
<!--      Tab 2-->
<!--    </ion-title>-->
<!--  </ion-toolbar>-->
</ion-header>

<ion-content [fullscreen]="true" on-swipe-right="goBack()" on-swipe-left="goForward()">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card class="inline">
    <ion-col id="textarea-col">
      <ion-textarea class="ion-float-left custom-textarea" placeholder="Send it dude . . ."
                    (input)="(presentToast('bottom','Feature aint ready yet bro, cant post some wisdom, gotta wait'))"
      ></ion-textarea>
    </ion-col>
    <ion-col id="button-col">
      <label for="file-upload" class="custom-file-upload">
        <i class="fa fa-cloud-upload"></i> Upload photo
      </label>
      <input id="file-upload" type="file"/>
      <ion-button>Submit</ion-button>
    </ion-col>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle type="dark">
        <div class="ion-float-start">Γιάννακης Γκαζοφονιάς</div>
        <div class="ion-float-end">20:30</div>
      </ion-card-subtitle>
    </ion-card-header>
    <img alt="ey where my pic at yo" src="./assets/car.webp"/>
    <ion-card-content>
      These boiz be killin it for real yo
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle type="dark">
        <div class="ion-float-start">τσάκοςΜη</div>
        <div class="ion-float-end">16:06</div>
      </ion-card-subtitle>
    </ion-card-header>
    <img alt="ey where my pic at yo" src="./assets/car2.webp"/>
    <ion-card-content>
      old school be back bro, is i right
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle type="dark">
        <div class="ion-float-start">Αλέκος Αμαξάκιας</div>
        <div class="ion-float-end">16:06</div>
      </ion-card-subtitle>
    </ion-card-header>
    <iframe width="370" height="300" src="https://www.youtube.com/embed/6NImgmZKLfo"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    <ion-card-content>
      Ey yo this is a good shot my man, take a look yo
    </ion-card-content>
  </ion-card>
</ion-content>
