<ion-header>
  <ion-toolbar>
    <ion-title>welcome</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="auth-form center vertical-center">
  <ion-grid>
    <ion-row>
      <ion-col align-self-center>
        <ion-button
          (click)="navigateToUrl('/signup')" expand="block" color="primary">Register</ion-button>
        <hr class="solid" data-content="or">
        <span class="center">Already a user?</span>
        <ion-button
          (click)="navigateToUrl('/login')" expand="block" color="danger">Sign In</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
