//ion-tab-button{
//  font-size: 10px;
//  --background-focused: #a0a;
//  --color-selected: #a0a;
//  --padding-end: 0px;
//  --padding-start: 10px;
//  --padding-bottom: 0px;
//  --margin-left:0px;
//  --margin-right:0px;
//  max-width:100px;
//  ion-icon{
//    font-size: 67.5px;
//  }}
//
//ion-tab-button:focus{
//  --background-focused: #a0a;
//  --color-selected: #a0a;
//  --color: #a0a;
//  --background: #a0a;
//}
//
//ion-tab-button:active{
//  --color: #a0a;
//  --background: #a0a;
//  --background-focused: #a0a;
//  --color-selected: #a0a;
//}

.active {
  //--color: #a0a;
  --background: rgba(218, 0, 55,0.05);
  //--background-focused: #a0a;
  //--color-selected: #a0a;
  border-radius: 3px;
  border-top: 2px solid #DA0037;
  //--box-shadow: 3 2px 6px 3 rgb(150, 0, 0, 0.25);
}

.tabados{
  border-top: 0.4px solid rgba(218, 0, 55,0.35);
  border-radius: 2.5px;
}
