<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button [routerLink]="['/home/tabs/tab1']" routerLinkActive="active" (click)="changedTab(artType)">
      <ion-img style="width: 70px; height: 70px; padding-bottom: 12px;" [src]="placeIcon"></ion-img>
      <!--      <ion-label>Tab 1</ion-label>-->
    </ion-tab-button>
    <ion-tab-button [routerLink]="['/home/tabs/tab3']" routerLinkActive="active" (click)="changedTab(storyType)">
      <ion-img style="width: 70px; height: 50px; padding-bottom: 0px;" [src]="peopleIcon"></ion-img>
    </ion-tab-button>
    <ion-tab-button [routerLink]="['/home/tabs/tab4']" routerLinkActive="active" (click)="changedTab(tripType)">
      <ion-img style="width: 80px; height: 80px; padding-bottom: 0px; margin-right: -5px" [src]="tripIcon"></ion-img>
    </ion-tab-button>
    <ion-tab-button [routerLink]="['/home/tabs/tab2']" routerLinkActive="active" (click)="changedTab(carType)">
      <ion-img style="width: 80px; height: 180px; padding-bottom: 5px; padding-left: -10px; padding-right: -10px" [src]="carIcon"></ion-img>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>

