
ion-footer.my-footer {
  margin-bottom: 0;
  padding-bottom: 2px;
  padding-top: 2px;
  height: 57px;
  background: #1e1e1e;
}

ion-button.backbutton {
  background: #1e1e1e;
  height: 5px;
  padding: 0px;
}
