<ion-content fullscreen="true" slot="fixed">
  <div class="card">
    <div class="header">
      <div class="avatar">
        <img [src]="imageApi + profilePicado" alt="">
      </div>
    </div>
    <div class="card-body">
      <div class="user-meta ion-text-center">
        <h3 class="playername">{{name}}</h3>
      </div>

<!--      <ion-button expand="full" color="primary">http://rogerfederer.com</ion-button>-->
<!--      <ion-button expand="full" color="secondary">@RogerFederer on Twitter</ion-button>-->
<!--      <ion-button expand="full" color="secondary">View profile at ATP</ion-button>-->

    </div>
  </div>
</ion-content>

<ion-footer style="color: #383a3e" translucent no-border>
  <ion-button color="light" class="ion-no-padding " style="padding-left: 3px; padding-right: 3px;" (click)="goBack()">
    &nbsp;&nbsp;<svg slot="start" xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" preserveAspectRatio="xMidYMid meet"
         viewBox="0 0 24 24">
      <path fill="white"
            d="M15.125 21.1L6.7 12.7q-.15-.15-.212-.325q-.063-.175-.063-.375t.063-.375q.062-.175.212-.325l8.425-8.425q.35-.35.875-.35t.9.375q.375.375.375.875t-.375.875L9.55 12l7.35 7.35q.35.35.35.862q0 .513-.375.888t-.875.375q-.5 0-.875-.375Z"/>
    </svg>Back&nbsp;&nbsp;
  </ion-button>
</ion-footer>
