.background-image {
  --background: url("/assets/sky.jpg") no-repeat top center/cover fixed, #fff;
  //--background: url(/src/assets/sky.jpg) 0 0/100% 100% no-repeat !important;
  position: relative;
  height: 100%;
  width: 100%;

  ion-button {
    margin-top: 1em;
    margin-bottom: 1em
  }
}

ion-toolbar {
  --background: transparent;
}

ion-chip {
  --background: #DA0037;
  --color: #fff;
}

.card {
  margin: 0 auto;

  .header {
    margin-top: -10px;
    padding-top: 0;
    height: 250px; // 20vh;
    background: url("/assets/fog.jpg");

    .avatar {
      width: 160px; //40vw
      height: 160px;
      //margin: 0;
      //margin-top: 300px;
      margin-left: auto;
      margin-right: auto;
      //margin-top: 10px;
      position: relative;

      img {
        //margin-top: 10px;
        left: 0;
        right: 0;
        align-self: center;
        height: 100%;
        width: 100%;
        display: block;
        border-radius: 30%;
        position: absolute;
        bottom: calc(-1 * (80px + 4px)); // -42px;
        border: 4px solid #DA0037;
        //background: url("/src/assets/icons/avatar.webp");

        background-color: #DA0037;
      }
    }
  }
}

.card-body {
  margin-top: -60px;
  background-color: #ffffff;
  padding: 5px;
  height: calc(100vh - (200px - 57px + 56px));
  overflow: hidden;

  .user-meta {
    padding-top: 45px;

    .playername {
      font-size: 24px;
      font-weight: 600;
      color: #303940;
    }

    .country {
      font-size: 90%;
      color: #949ea6;
      text-transform: uppercase;
      margin: 0 auto;
    }
  }
}

ion-footer.my-footer {
  margin-bottom: 0;
  padding-bottom: 2px;
  padding-top: 2px;
  height: 57px;
  background: #1e1e1e;
}

ion-button.backbutton {
  background: #1e1e1e;
}

.custom-file-upload {
  //border: 1px solid #000;
  color: #DA0037;
  //box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 0.25);
  text-align: center;
  display: inline-block;
  font-family: RobotoMono;
  padding-top: 1.5vh;
  padding-bottom: 3vh;
  //padding: 10px 0px;
  cursor: pointer;
  float: bottom;
  height: 20vh;
  border-radius: 40%;
  //margin: 0px;
  margin-top: 30px;
  margin-bottom: 0;
  width: 100%;
}

.profilepic {
  left: 0;
  right: 0;
  align-self: center;
  min-height: 90%;
  width: auto;
  min-width: 90%;
  //background: url("/src/assets/icons/avatar.webp");
}

.custom-file-upload:hover {
  background-color: #333333;
}

ion-input.custom {
  --background: #fff;
  --color: black;
  --placeholder-color: black;
  --placeholder-opacity: .8;

  --padding-bottom: 10px;
  --padding-end: 10px;
  --padding-start: 10px;
  --padding-top: 10px;
}

.white {
  padding-all: white;
  --background: #fff;
  --color: black;
}

.invalid-feedback {
  color: #DA0037;
  font-size: small;
}

ion-input.input-width {
  --width: 90vh !important;
}


#editbutton {
  height: 20px;
  //width: 40px;
  //position:relative;
  //display:inline-block;
  //margin:20px;
  //margin: 5px;
  //margin-bottom: 10px;
  background: transparent;
  top: 7px;
  margin-top: 7px;
  float: right;
  right: 12px;
  margin-right: 12px;
  //padding-bottom: 5px;
}

#editbutton a {
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  text-decoration: none;

  background: #2471A3;
  color: #1e1e00;
  display: block;
  position: relative;
  padding: 7px 15px;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-shadow: 0px 0.5px 0px gray;
  filter: dropshadow(color=gray, offx=0px, offy=1px);

  -webkit-box-shadow: inset 0 0.5px 0 #FFE5C4, 0 5px 0 #123952;
  -moz-box-shadow: inset 0 0.5px 0 #FFE5C4, 0 5px 0 #123952;
  box-shadow: inset 0 0.5px 0 #FFE5C4, 0 5px 0 #123952;

  -webkit-border-radius: 2.5px;
  -moz-border-radius: 2.5px;
  border-radius: 2.5px;
}

#editbutton a:active {
  top: 5px;
  background-color: #2471A3;

  -webkit-box-shadow: inset 0 0.5px 0 #FFE5C4, inset 0 -1.5px 0 #123952;
  -moz-box-shadow: inset 0 0.5px 0 #FFE5C4, inset 0 -1.5pxpx 0 #123952;
  box-shadow: inset 0 0.5px 0 #FFE5C4, inset 0 -1.5px 0 #123952;
}

#editbutton:after {
  content: "";
  height: 100%;
  width: 100%;
  padding: 2px;
  position: absolute;
  bottom: -7.5px;
  left: -2px;
  z-index: -1;
  //background-color:#2B1800;
  -webkit-border-radius: 2.5px;
  -moz-border-radius: 2.5px;
  border-radius: 2.5px;
}


///////////////////////////////////////////////////


#submitbutton {
  height: 20px;
  //width: 40px;
  //position:relative;
  //display:inline-block;
  //margin:20px;
  //margin: 5px;
  //margin-bottom: 10px;
  background: transparent;
  top: 7px;
  margin-top: 7px;
  float: right;
  right: 12px;
  margin-right: 12px;
  //padding-bottom: 5px;
}

#submitbutton a {
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  text-decoration: none;

  background: #2AAA8A;
  color: #1e1e00;
  display: block;
  position: relative;
  padding: 7px 15px;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-shadow: 0px 0.5px 0px gray;
  filter: dropshadow(color=gray, offx=0px, offy=1px);

  -webkit-box-shadow: inset 0 0.5px 0 #FFE5C4, 0 5px 0 #123952;
  -moz-box-shadow: inset 0 0.5px 0 #FFE5C4, 0 5px 0 #123952;
  box-shadow: inset 0 0.5px 0 #FFE5C4, 0 5px 0 #123952;

  -webkit-border-radius: 2.5px;
  -moz-border-radius: 2.5px;
  border-radius: 2.5px;
}

#submitbutton a:active {
  top: 5px;
  background-color: #2AAA8A;

  -webkit-box-shadow: inset 0 0.5px 0 #FFE5C4, inset 0 -1.5px 0 #097969;
  -moz-box-shadow: inset 0 0.5px 0 #FFE5C4, inset 0 -1.5pxpx 0 #097969;
  box-shadow: inset 0 0.5px 0 #FFE5C4, inset 0 -1.5px 0 #097969;
}

#submitbutton:after {
  content: "";
  height: 100%;
  width: 100%;
  padding: 2px;
  position: absolute;
  bottom: -7.5px;
  left: -2px;
  z-index: -1;
  //background-color:#2B1800;
  -webkit-border-radius: 2.5px;
  -moz-border-radius: 2.5px;
  border-radius: 2.5px;
}

///////////////////////////////////////////////////

#cancelbutton {
  height: 20px;
  //width: 40px;
  //position:relative;
  //display:inline-block;
  //margin:20px;
  //margin: 5px;
  //margin-bottom: 10px;
  background: transparent;
  top: 7px;
  margin-top: 7px;
  float: left;
  left: 12px;
  margin-left: 12px;
  //padding-bottom: 5px;
}

#cancelbutton a {
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  text-decoration: none;

  background: #DA0037;
  color: #1e1e00;
  display: block;
  position: relative;
  padding: 7px 15px;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-shadow: 0px 0.5px 0px gray;
  filter: dropshadow(color=gray, offx=0px, offy=1px);

  -webkit-box-shadow: inset 0 0.5px 0 #FFE5C4, 0 5px 0 #6d001c;
  -moz-box-shadow: inset 0 0.5px 0 #FFE5C4, 0 5px 0 #6d001c;
  box-shadow: inset 0 0.5px 0 #FFE5C4, 0 5px 0 #6d001c;

  -webkit-border-radius: 2.5px;
  -moz-border-radius: 2.5px;
  border-radius: 2.5px;
}

#cancelbutton a:active {
  top: 5px;
  background-color: #DA0037;

  -webkit-box-shadow: inset 0 0.5px 0 #FFE5C4, inset 0 -1.5px 0 #6d001c;
  -moz-box-shadow: inset 0 0.5px 0 #FFE5C4, inset 0 -1.5pxpx 0 #6d001c;
  box-shadow: inset 0 0.5px 0 #FFE5C4, inset 0 -1.5px 0 #6d001c;
}

#cancelbutton:after {
  content: "";
  height: 100%;
  width: 100%;
  padding: 2px;
  position: absolute;
  bottom: -7.5px;
  left: -2px;
  z-index: -1;
  //background-color:#2B1800;
  -webkit-border-radius: 2.5px;
  -moz-border-radius: 2.5px;
  border-radius: 2.5px;
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 1s ease-in infinite alternate;

}
